// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.container{
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'main main main main main main'
  'footer footer footer footer footer footer';
}

nav{
  width: 100%;
  text-align: right;
  font-size: 40px;
  position: absolute;
}

.nav-mob{
  padding: 30px;
  color: white;
  margin-right: 2%;
  z-index: 2;
}

#nav-bar{
  cursor: pointer;
}

.nav-elements {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

.nav-elements a{
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.nav-elements a:hover{
  background-color: #4c4c4c;
}

header{
  grid-area: header;
  height: auto;
}

.img{

}

.img2{
    position: absolute;
    margin: auto;

  }



main{
  grid-area: main;
  height: 600px;
  background-color: red;
}

footer{
  grid-area: footer;
  height: auto;
  background-color: orange;
  text-align: center;
  line-height: 46px;
  padding: 3%;
}







@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}